<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"> <!-- Link to external CSS file -->
  <title>Welcome to Graphical Password System</title>
</head>
<body>

  <div class="container">
    <div class="container-background">
      <h1><b>PicPass</b></h1>
      <h4><i>Locking Your Access with the Power of Images</i></h4>
      <h3>Graphical Password System</h3>
      
      
      <!-- Register and Login links -->
      <div class="links-container">
        <a href="/register">Signup</a>
        <a href="/login">Login</a>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-content">
      <p>Experience the future of password protection with graphical authentication and seamless file uploads.</p></div>
  </footer>

</body>
</html>
